<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <style>
        table{
            border: 1px solid #eee;
            width: 100%;
            font-size: 20px;
            background-color: white;
            color: black;
            font-weight: bold;
        }

        table tr{
            border: 1px solid darkolivegreen;
            width: 100%;
            padding: 0;
        }

        table tr td{
            border: 1px solid #999999;
            width: 50%;
            padding: 10px 10px;
        }
    </style>
</head>
<body>

<div class="container">

    <table cellspacing="0" cellpadding="0">

        <tr>
            <td>$dateTime(new Date())</td>
            <td><%= $dateTime(new Date())%></td>
        </tr>

        <tr>
            <td>$dateTime(Date.now())</td>
            <td><%= $dateTime(Date.now())%></td>
        </tr>

        <tr>
            <td>Math.random()</td>
            <td><%= Math.random()%></td>
        </tr>

        <tr>
            <td>$toString([1,2,3])</td>
            <td><%= $toString([1,2,3])%></td>
        </tr>

        <tr>
            <td>$parseInt('10', 0)</td>
            <td><%= $parseInt('10', 0) + ''%></td>
        </tr>

        <tr>
            <td>$parseInt('NA0122', 0)</td>
            <td><%= $parseInt('NA0122', 0) + ''%></td>
        </tr>

        <tr>
            <td>$parseInt('NA0122')</td>
            <td><%= $parseInt('NA0122') + ''%></td>
        </tr>

        <tr>
            <td>$parseFloat('12.3')</td>
            <td><%= $parseFloat('12.3') + ''%></td>
        </tr>

        <tr>
            <td>$parseFloat('a12.3', 0)</td>
            <td><%= $parseFloat('a12.3', 0) + ''%></td>
        </tr>

        <tr>
            <td>$format('%s %X', 'sam', 1000)</td>
            <td><%= $format('%s %X', 'sam', 1000)%></td>
        </tr>

        <tr>
            <td>$format('%s %o', 'sam', 1000)</td>
            <td><%= $format('%s %o', 'sam', 1000)%></td>
        </tr>

        <tr>
            <td>$format('%s %d', 'sam', 1000)</td>
            <td><%= $format('%s %d', 'sam', 1000)%></td>
        </tr>

        <tr>
            <td>$format('%s %b', 'sam', 1000)</td>
            <td><%= $format('%s %b', 'sam', 1000)%></td>
        </tr>

        <tr>
            <td>$format('%c %c', 'sam', 98)</td>
            <td><%= $format('%c %c', 'sam', 98)%></td>
        </tr>

        <tr>
            <td>$format('%s %2f', 'sam', 98)</td>
            <td><%= $format('%s %2f', 'sam', 98)%></td>
        </tr>

        <tr>
            <td>$format('%s %j', 'sam', {name:1})</td>
            <td><%= $format('%s %j', 'sam', {name:1})%></td>
        </tr>

        <tr>
            <td>$toString(null)</td>
            <td><%= $toString(null)%></td>
        </tr>

        <tr>
            <td>$toString({name: 1})</td>
            <td><%= $toString({name : 1})%></td>
        </tr>

        <tr>
            <td>$toString([12,3])</td>
            <td><%= $toString([12,3])%></td>
        </tr>

        <tr>
            <td>$join('10', '2', '6', '+')</td>
            <td><%= $join('10', '2', '6', '+')%></td>
        </tr>

        <tr>
            <td>$join('10', null, '6', '9', '+')</td>
            <td><%= $join('10', null, '6', '9', '+')%></td>
        </tr>

        <tr>
            <td>$join(null, null, '6', '+')</td>
            <td><%= $join(null, null, '6', '+')%></td>
        </tr>

        <tr>
            <td>$join(null, '6', '', '+')</td>
            <td><%= $join(null, '6', '', '+')%></td>
        </tr>

        <tr>
            <td>$trim('  name  ')</td>
            <td><%= $trim(' name ')%></td>
        </tr>

        <tr>
            <td>$mask('18083489462', '*', 4, 5)</td>
            <td><%= $mask('18083489462', '*', 4, 5)%></td>
        </tr>

        <tr>
            <td>$mask('18083489462', '*', -1, 5)</td>
            <td><%= $mask('18083489462', '*', -1, 5)%></td>
        </tr>

        <tr>
            <td>$pad('12222', 10, '0', 'left')</td>
            <td><%= $pad('12222', 10, '0', 'left')%></td>
        </tr>

        <tr>
            <td>$pad('12222', 10, '0', 'right')</td>
            <td><%= $pad('12222', 10, '0', 'right')%></td>
        </tr>

        <tr>
            <td>$clean(' 122 22 ')</td>
            <td><%= $clean(' 122 22 ')%></td>
        </tr>
        <tr>
            <td>$toString($lines('122\r\n22132'))</td>
            <td><%= $toString($lines('122\r\n22132'))%></td>
        </tr>
        <tr>
            <td>$toString($lines('122\r22132'))</td>
            <td><%= $toString($lines('122\r22132'))%></td>
        </tr>
        <tr>
            <td>$truncate('122212313213132132', 13, '...')</td>
            <td><%= $truncate('122212313213132132', 13, '...')%></td>
        </tr>
        <tr>
            <td>$chineseCurrency('92102600401.001')</td>
            <td><%= $chineseCurrency('92102600401.001')%></td>
        </tr>
        <tr>
            <td>$currency(242605401.001, '$', 2)</td>
            <td><%= $currency(242605401.001, '$', 2)%></td>
        </tr>
        <tr>
            <td>$upperCase('AbddessSww')</td>
            <td><%= $upperCase('AbddessSww')%></td>
        </tr>
        <tr>
            <td>$lowerCase('AbddessSww')</td>
            <td><%= $lowerCase('AbddessSww')%></td>
        </tr>
        <tr>
            <td>$capitalize('AbddessSww')</td>
            <td><%= $capitalize('AbddessSww')%></td>
        </tr>
        <tr>
            <td>$capitalize('AbddessSww', true)</td>
            <td><%= $capitalize('AbddessSww', true)%></td>
        </tr>
        <tr>
            <td>$bankCard('233546454633344332')</td>
            <td><%= $bankCard('233546454633344332')%></td>
        </tr>
        <tr>
            <td>$number(0.5, 3)</td>
            <td><%= $number(0.5, 3)%></td>
        </tr>

        <tr>
            <td>$thousands(2783619263)</td>
            <td><%= $thousands(2783619263)%></td>
        </tr>
        <tr>
            <td>$percentage(0.5)</td>
            <td><%= $percentage(0.5)%></td>
        </tr>

        <tr>
            <td>$percentage(0.523366, 2)</td>
            <td><%= $percentage(0.523366, 2)%></td>
        </tr>

        <tr>
            <td>$urlPathVersion('/name', 10)</td>
            <td><%= $versionPath('/name', 10)%></td>
        </tr>

        <tr>
            <td>$urlPathJoin('/name', '//age')</td>
            <td><%= $joinPath('/name', '//age')%></td>
        </tr>

        <tr>
            <td>$urlFormat('/home', {name:1}, 'http', '127.0.0.1')</td>
            <td><%= $urlFormat('/home', {name:1}, 'http', '127.0.0.1')%></td>
        </tr>

        <tr>
            <td>$urlFormat('/home', {name:1})</td>
            <td><%= $urlFormat('/home', {name:1})%></td>
        </tr>

        <tr>
            <td>$date('2016-06-01T07:05:36.838Z', '-')</td>
            <td><%= $date('2016-06-01T07:05:36.838Z', '-')%></td>
        </tr>
        <tr>
            <td>$time('2016-06-01T07:05:36.838Z', ':')</td>
            <td><%= $time('2016-06-01T07:05:36.838Z', ':')%></td>
        </tr>
        <tr>
            <td>$dateTime('2016-06-01T07:05:36.838Z', '-', ':')</td>
            <td><%= $dateTime('2016-06-01T07:05:36.838Z', '-', ':')%></td>
        </tr>
        <tr>
            <td>$dateTime('2016-06-01T07:05:36.838Z')</td>
            <td><%= $dateTime('2016-06-01T07:05:36.838Z')%></td>
        </tr>

        <tr>
            <td>$encodeURIComponent('/测试 账号')</td>
            <td><%= $encodeURIComponent('/测试 账号')%></td>
        </tr>

        <tr>
            <td>$decodeURIComponent($encodeURIComponent('/测试 账号'))</td>
            <td><%= $decodeURIComponent($encodeURIComponent('/测试 账号'))%></td>
        </tr>

        <tr>
            <td>$encodeURI('/测试 账号')</td>
            <td><%= $encodeURI('/测试 账号')%></td>
        </tr>

        <tr>
            <td>$decodeURI($encodeURI('/测试 账号'))</td>
            <td><%= $decodeURI($encodeURI('/测试 账号'))%></td>
        </tr>

        <tr>
            <td>$isNull(null)</td>
            <td><%= $isNull(null) + ''%></td>
        </tr>

        <tr>
            <td>$isNull(undefined)</td>
            <td><%= $isNull(undefined) + ''%></td>
        </tr>

        <tr>
            <td>$isUndefined(undefined)</td>
            <td><%= $isUndefined(undefined) + ''%></td>
        </tr>

        <tr>
            <td>$isUndefined(null)</td>
            <td><%= $isUndefined(null) + ''%></td>
        </tr>

        <tr>
            <td>$isNullOrUndefined(null)</td>
            <td><%= $isNullOrUndefined(null) + ''%></td>
        </tr>

        <tr>
            <td>$isNullOrUndefined(undefined)</td>
            <td><%= $isNullOrUndefined(undefined) + ''%></td>
        </tr>

        <tr>
            <td>$isArray([])</td>
            <td><%= $isArray([]) + ''%></td>
        </tr>

        <tr>
            <td>$isDate(new Date())</td>
            <td><%= $isDate(new Date()) + ''%></td>
        </tr>

        <tr>
            <td>$isDate('2012-03-01')</td>
            <td><%= $isDate('2012-03-01') + ''%></td>
        </tr>

        <tr>
            <td>$isString('name')</td>
            <td><%= $isString('name') + ''%></td>
        </tr>

        <tr>
            <td>$isString({})</td>
            <td><%= $isString({}) + ''%></td>
        </tr>

        <tr>
            <td>$isString(null)</td>
            <td><%= $isString(null) + ''%></td>
        </tr>

        <tr>
            <td>$isNumber(1)</td>
            <td><%= $isNumber(1) + ''%></td>
        </tr>

        <tr>
            <td>$isBool(true)</td>
            <td><%= $isBool(true) + ''%></td>
        </tr>

        <tr>
            <td>$isInt(1.1)</td>
            <td><%= $isInt(1.1) + ''%></td>
        </tr>

        <tr>
            <td>$isInt(1)</td>
            <td><%= $isInt(1) + ''%></td>
        </tr>

        <tr>
            <td>$isFloat(1.1)</td>
            <td><%= $isFloat(1.1) + ''%></td>
        </tr>

        <tr>
            <td>$isFloat(1)</td>
            <td><%= $isFloat(1) + ''%></td>
        </tr>

        <tr>
            <td>$isObject(null)</td>
            <td><%= $isObject(null) + ''%></td>
        </tr>

        <tr>
            <td>$isObject({})</td>
            <td><%= $isObject({}) + ''%></td>
        </tr>

        <tr>
            <td>$isObject([])</td>
            <td><%= $isObject([]) + ''%></td>
        </tr>

        <tr>
            <td>$isDictionary([])</td>
            <td><%= $isDictionary([]) + ''%></td>
        </tr>

        <tr>
            <td>$isDictionary({})</td>
            <td><%= $isDictionary({}) + ''%></td>
        </tr>
    </table>

</div>

</body>
</html>