<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%include('./layout/head')%>
</head>
<body>

<!-- nav -->
<%include('./layout/navbar')%>

<!-- banner -->
<%include('./layout/banner')%>

<!-- content -->
<div class="container bs-docs-container">
    <div class="row">

        <!--doc section-->
        <div class="col-md-10" role="main">
            <%for(var i = 0; i< documents.methods.length; i++){%>
            <div class="bs-docs-section">
                <%var method = documents.methods[i];%>
                <%for(var j = 0; j< method.versions.length; j++){%>
                    <%var version = method.versions[j];%>
                    <%if(version){%>
                    <div class="panel panel-default">
                        <div class="panel-body <%= version.deprecated ? 'deprecated': ''%>">
                            <div>
                                <h3>
                                    <span><%= version.action%></span>
                                    <span>-</span>
                                    <span><%= version.summary%></span>
                                </h3>
                                <p><%= version.desc%></p>
                            </div>
                            <div class="bs-callout <%= version.deprecated ? 'bs-callout-danger': ' bs-callout-info'%>">
                                <p class="<%= version.deprecated ? 'deprecated': ''%>">
                                    <span>
                                        <%= version.method.toUpperCase()%>
                                    </span>

                                    <%if(version.version){%>
                                    <span>v: <%= version.version%></span>
                                    <%}%>

                                    <%if(version.channel){%>
                                    <span>c: <%= version.channel%></span>
                                    <%}%>

                                    <span><%= version.path%></span>

                                    <%if(version.deprecated){%>
                                    <span> 已经废除</span>
                                    <%}%>
                                </p>
                            </div>
                            <div class="bs-example bs-example-tabs">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#req<%= version.actionID%>"
                                               role="tab"
                                               data-toggle="tab"
                                               aria-controls="home"
                                               aria-expanded="true">请求(Request)</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#res<%= version.actionID%>"
                                               role="tab"
                                               data-toggle="tab"
                                               aria-controls="profile"
                                               aria-expanded="false">响应(Response)</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#exa<%= version.actionID%>"
                                               role="tab"
                                               data-toggle="tab"
                                               aria-controls="profile"
                                               aria-expanded="false">例子(Example)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="req<%= version.actionID%>" role="tabpanel" class="tab-pane fade active in"
                                             aria-labelledby="request">
                                            <%for(var k = 0; k < version.request.length; k++){%>
                                            <%var request = version.request[k];%>
                                            <div>
                                                <h4><%= request.region%>:</h4>
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>参数名称</th>
                                                        <th>参数类型</th>
                                                        <th>是否必须</th>
                                                        <th>参数说明</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <%for(var h = 0; h < request.params.length; h++){%>
                                                    <%var param = request.params[h];%>
                                                    <tr>
                                                        <th><%= param.name%></th>
                                                        <td><%= param.types%></td>
                                                        <td><%= param.nullable ? '否': '是'%></td>
                                                        <td><%= param.description%></td>
                                                    </tr>
                                                    <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <%}%>
                                        </div>
                                        <div id="res<%= version.actionID%>" role="tabpanel" class="tab-pane fade"
                                             aria-labelledby="response">
                                            <div class="highlight">
                                             <pre>
                                                 <code class="javascript"><%= version.response%></code>
                                            </pre>
                                            </div>
                                        </div>
                                        <div id="exa<%= version.actionID%>" role="tabpanel" class="tab-pane fade"
                                             aria-labelledby="example">
                                            <div class="highlight">
                                                <%if(version.example){%>
                                                <p>Request</p>
                                                    <pre>
                                                        <code class="javascript"><%= version.example.request%></code>
                                                    </pre>
                                                        <p>Response</p>
                                                    <pre>
                                                        <code class="javascript"><%= version.example.response%></code>
                                                    </pre>
                                                <%}%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                <%}%>
            </div>
            <%}%>
        </div>

        <!--right menu-->
        <div class="col-md-2" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
                <ul class="nav bs-docs-sidenav">
                    <%for(var ctrl in menus){%>
                    <li class="active">
                        <a href="#grunt"><%= ctrl%></a>
                        <ul class="nav">
                            <%for(var i = 0 ; i < menus[ctrl].length; i++){%>
                            <li><a href="./<%= menus[ctrl][i].filename%>"><%= menus[ctrl][i].action.toLowerCase()%></a></li>
                            <%}%>
                        </ul>
                    </li>
                    <%}%>

                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>
    </div>
</div>

<!-- footer -->
<%include('./layout/footer')%>

<!-- script -->
<%include('./layout/script')%>

</body>
</html>
